altgraph==0.17.3
cffi==1.15.1
ffmpeg==1.4
future==0.18.3
macholib==1.16.2
numpy==1.25.2
pycparser==2.21
pydub==0.25.1
pyinstaller-hooks-contrib==2023.7
pyloudnorm==0.1.1
scipy==1.11.2
soundfile==0.12.1
